<!DOCTYPE html>
<html>
<head>
    <link rel ="stylesheet" type="text/css" href="static/style.css">
    <title>Chapter 1</title>
</head>
<body>
<h1>Chapter 1: An April Fool</h1>
<h3><i>April 1, 2062</i></h3>
<br>

<p class="Sidney"><i>What do you see?</i></p>
<p class="Stranger1"><i>Excuse me?</i> says the stranger sitting at the Bus Stop.</p>
<p class="Sidney"><i>I mean it. What’s this one showing you right now?</i> I gesture toward the conspicuously large advertisement shielding him from the crowded streets.</p>
<p class="Stranger1"><i>Right now? It’s a little winery upstate near where I’ve been helping plan my sister’s wedding. Probably competing with a few others for our checkbook.</i></p>
<p class="Sidney">I study the same advertisement. A familiar yet unwelcome face fills the screen. <br>John Doe is a real character on Twitter, who I can't stand. His profile picture pins him as around my age, but I suspect it's a front for a much younger man. <br><br>He's running for mayor, it says, and the right candidate for New York, at that. <br><br>I chuckle a little at the thought of a man famous in part for his anonymity seeking public office. The only bright side is that I will get to see his real face as I humiliate him on Election Night. Sidney Hargrave will not lose to a Twitter personality.</p>
<p class="Sidney">.</p>
<p class="Sidney">.</p>
<p class="Sidney">Not that this is at all interesting to this stranger, who doesn’t even recognize that I’m his current mayor. But being mayor has not been a popular job for quite some time. The career-killer, they call it - I have little future in politics after my second term ends. It doesn't sound so bad to me though, to have some assemblance of power. I don't even mention it.</p>
<p class="Sidney">.</p>
<p class="Sidney"><i>A woman down the street,</i> I say, <i>told me she saw her optometrist here, right from her window, clearer than she has seen anything in years. <br><br>They can program the NanoCore to function like a lens.</i></p>
<p class="Stranger1"><i>That's good for her,</i> says the stranger tentatively. <br><br>He gets up from the bench the moment the bus appears into view.</p>

<a class="next" href="/1" data-analytics-link="bottom-pagination-next"></a>

</body>
</html>