<!DOCTYPE html>
<html>
<head>
    <link rel ="stylesheet" type="text/css" href="static/style.css">
    <title>Chapter 11</title>
</head>
<body>
<h1>Chapter 11: The Aftermath</h1>
<br>

<img src="../static/newspaper (1).jpg" style="margin-left: auto;" width="48%">
<img src = "../static/newspaper (2).jpg" style="margin-right: auto;" width="48%">

<p class="Samir" style="text-align:center">***************</p>
<p class="Samir">Mr. President, it was when Senator Carney announced his Presidential candidacy that I decided I had to step in</p>
<p class="Pres">Samir, 
    <br>.
    <br><br>It’s a shame it took so long for this information to reach us. Why didn’t you say anything from the start?
    </p>
<p class="Samir">I trusted Sidney from the start, and I was right to do that - she’s been quietly instrumental to the borderline peace that we see in the world now.
    <br>.
    <br><br>Now I just think this is blunt overreach on her part - I can’t even be sure she’s in charge, or even Jon Bredeson for that matter.
    </p>
<p class="Aide">Mr. President, we’ve ran a search on Jon Bredeson, and everything Samir has said about him seems to check out.</p>
<p class="Pres"> Thank you, Bobby.
    <br>.
    <br>.
    <br><br>Samir, I’m gonna book you a hotel room in Washington tonight. You’re gonna be doing a lot of talking these next few days.
    </p>
    <h1>THE END</h1>
</body>
</html>