<!DOCTYPE html>
<html>
<head>
    <link rel ="stylesheet" type="text/css" href="static/style.css">
    <title>Chapter 4</title>
</head>
<body>
<h1>Chapter 4: Keeper of Secrets - Part 2</h1>
<br>
<p class="Text"><i>Televerse Communications, telephone records</i></p>
<p class="Text"><i>Caller: Sidney Hargrave</i></p>
<p class="Text"><i>Receiver: Samir [REDACTED]</i></p>
<p class="Text"><i>7-10-2062|21:33</i></p>

<p class="Samir">Samir [REDACTED], who’s calling?</p>
<p class="SidneyPhone">Samir? This is Sidney Hargrave, I’m sure you know who I am.<br>Listen. I have a job for you.</p>
<p class="Samir">You want me to find Doe?</p>
<p class="SidneyPhone">I need your verbal commitment before I tell you. I can pay more than your standard rate.</p>
<p class="Samir">If it’s him you want me to find, I’m in</p>
<p class="SidneyPhone">Let’s keep this call short. <br>I’m sending you a briefcase.</p>
<p class="Samir" style="text-align:center">***************</p>
<p class="Samir">I received Sidney’s package the next morning, and opened it to find a pitifully small stack of papers inside, which somehow contained even less useful information than I had expected. Almost all of it could have been found over the internet. It was at least useful as an aggregation tool - practically everything publicly available on Doe had been printed here. There were transcripts of his radio interviews, and archives of his politically-minded twitter posts, few of which hinted at any kind of agenda outside of expanding the NanoCore. The pictures of his holographic avatar were hardly worth the ink. What did help was Sidney’s list of Doe’s allies. Real people, or at least so I assumed, people who I could truly suck information out of. 
    <br><br>I spent a few days tracking down and following Doe’s closest advisor, former congresswoman Zephyr “The Fixer” Windstalker. But despite the many calls I heard her take from him, she never revealed anything about his identity, or his location, and she never met him in person - she knew shockingly, suspiciously little about the man. 
    <br><br>The next few months were more of the same - I would look long and hard into a lead, and find myself no closer to the mystery that was John Doe. All the while, Sidney would call me up (cryptically, as was her fashion), and inform me of her dwindling, and later negative lead in the weekly polls her team ran. The problem I began to run into at this point was one I had never experienced in my career - I wanted to find him as much as Sidney did. I had never had a case this hard, had never had a target as well hidden as Doe, and I was sick and tired of calling him by that name, which perpetually mocked me, screaming out that I had as of yet failed to identify him. As I was slowly realizing, someone this hard to find had a secret of nuclear proportions to hide.
    </p>
<img src="../static/Slide2.JPG">

<a class="next" href="/4" data-analytics-link="bottom-pagination-next"></a>

</body>
</html>