<!DOCTYPE html>
<html>
<head>
    <link rel ="stylesheet" type="text/css" href="static/style.css">
    <title>Chapter 9</title>
</head>
<body>
<h1>Chapter 9: The Ghost Writers</h1>
<br>
<h3><i>November 25th, 2064</i></h3>
<p class="Jon">Süleýman has been a success.
    <br>.
    <br>.
    <br><br>Sidney, there’s a war going on. People were bound to die anyway; at least they’re going for the right cause.
    </p>
<p class="Sidney">You know that’s not how I see it.
    <br>.
    <br>I believe it's for good. I really do. But…
    <br>.
    <br>.
    <br><br>I can’t just tell myself that it would be worse without us. These are thirteen real people who would be alive right now if we hadn’t created Süleýman. They all had lives, Jon. 
    </p>
<p class="Jon">I hate to say it, but this was all your idea, Sidney. I’m just along for the ride.</p>
<p class="Sidney">You know, all those four years when I was mayor, I felt like the most powerful person in the world. Not that the position is remotely comparable to the President these days. But I could shut down hundreds of schools in one command, and hundreds of trains with another. 
    <br>.
    <br><br>What we’re doing is on another level entirely. Maybe two levels above. We could completely reprogram Senator Carney’s ideology if we hadn’t coded him exactly as we wanted.
    <br>.
    <br><br>In fact, it’s more than power - it’s fortune-telling. I almost wish I didn’t know which day the Ashgabat takeover is planned for. But there it is - tomorrow, a lot more people are going to die and I can stop it. It has to mean something that I’m not going to.
    <br>.
    <br>You know what? I’m gonna head home. I could use some fresh air and some sleep.
    </p>
    <p class="Sidney" style="text-align:center">***************</p>
<h3>Walking Down the Street</h3>
<p class="Stranger2">Hold up. Are you Sidney Hargrave?</p>
<p class="Sidney">Yes?</p>
<p class="Stranger2">Can I ask you a question? I voted for you, by the way. <br><br>How do you feel about all these virtual people around the world? I mean, since you lost to Mayor Doe. 
</p>
<p class="Sidney">Don’t have to remind me *smirks</p>
<p class="Stranger2">Sorry</p>
<p class="Sidney"> Honestly? I’m afraid of them all. But I’d rather believe that if there are bad people behind the scenes, there are good people behind there as well, driving everything.</p>
<p class="Stranger2">I feel like so many professions have become less sacred, less genuine. <br><br>All of these wartime reporters and muckrakers using holograms are standing thousands of miles away from harm. <br><br>There’s something so impersonal to everything, you know?
</p>
<p class="Sidney">I know. </p>

<a class="next" href="/9" data-analytics-link="bottom-pagination-next"></a>

</body>
</html>