<!DOCTYPE html>
<html>
<head>
    <link rel ="stylesheet" type="text/css" href="static/style.css">
    <title>Chapter 10</title>
</head>
<body>
<h1>Chapter 10: The Flag</h1>
<br>
<h3><i>November 27th, 2064</i></h3>
<h3>National Public Radio</h3>
<p class="Text">Welcome back to this extended edition of “24 hour NewsDay”, with our show now entering its 30th hour as the Coup d'état situation in Ashgabat, Turkmenistan appears to be ongoing, after eight hours of extreme violence in the capital.

    <br><br>This event, led by who else, Süleýman, has sparked fears that it has suddenly brought world peace to its breaking point. <br><br>A fall from grace from the voice of protest in a country known for harsh punishments could have sharp repercussions, leaving no end in sight for the people of Turkmenistan. On the other hand, it is unclear what kind of demands Süleýman would have were he able to take power.
    
    <br><br>Our amazing holographic field reporter, Brian Hearthwell, tells us there’s something happening outside of the Presidential Palace in Ashgabat. Brian, what’s going on?
    </p>
<p class="Brian">I’m seeing a group of 20-30 people walking out of the palace. They’re walking towards the large flagpole just beyond the steps of the palace, and it looks like they’re going to raise a flag! <br>There has been an agreement of some kind reached.
    <br>.
    <br><br>I can’t tell from this distance what kind of flag it is - whether it will be the traditional Turkmen flag, or the resistance flag, with a depiction on the right hand side of the head of the extinct Bactrian deer. 
    <br><br>Here it comes - I’ll yell as soon as I can see it
    </p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<img src="../static/image3.png" style="display: block;margin-left: auto;margin-right: auto;" width="950px">


<a class="next" href="/10" data-analytics-link="bottom-pagination-next"></a>

</body>
</html>