<!DOCTYPE html>
<html>
<head>
    <link rel ="stylesheet" type="text/css" href="static/style.css">
    <title>Chapter 2</title>
</head>
<body>
<h1>Chapter 2: The Unexpected</h1>
<h3><i>June 17, 2062</i><br>Hargrave Campaign Headquarters</h3>

<br>

<p class="Lisa">Sid, I won’t lie - it’s not looking amazing. I’m beginning to think this won’t be the cakewalk we had envisioned for this second term.</p>
<p class="Sidney">Ok, lay it on. What are the numbers?</p>
<p class="Lisa">Ok, remember how your approval was at 70% just three months ago? Our internals say it’s barely over 50% now.</p>
<p class="Sidney">You mean, Doe’s attack ads have been working. The ones I’ve seen.</p>
<p class="Lisa">Exactly. Although, with the NanoCore you never know if you get one completely different from everyone else.</p>
<p class="Sidney">Right. Holographic nanotechnology on billboards. And I’m the only one in the city who’s still uncomfortable with it?</p>
<p class="Lisa">.<br>.<br>I think, in the nicest way possible, that you haven’t seen a whole lot of the city these last few years. <br><br>You’ve got a security detail following you at all times, and you rarely leave Gracie Mansion. <br><br>The NanoCore has been everywhere in most people’s lives for five years or so, while you’ve been shielded.
</p>
<p class="Sidney">Doesn’t take long for privacy invasion to be normalized, huh. <br><br>I don’t even know what life was like before our cell phone data was tracked, but I do remember the days before they could see into our homes.</p>
<p class="Lisa">To most folks, life just goes on.<br>.<br>Anyway, our poll had you still up by 10. Doe is still an unknown, and you certainly aren’t universally hated.</p>
<p class="Sidney">I still don’t understand how the fuck 500,000 people would vote for someone who won’t even show them his face. </p>
<p class="Lisa">Honestly, I’m starting to think they view it as a plus. The NanoCore has changed everything, and people feel comfortable talking to a hologram like him. <br><br>Streamers used virtual avatars back in the 2020s, so it’s not completely new to most people.</p>
<p class="Sidney">I just can’t believe it could end like this. Well, I am still winning, but I don’t have a great feeling about this. <br><br>This guy’s a professional troll - I thought that would make him easy to handle, but he’s been anything but that so far.</p>
<p class="Lisa">I hate to say it, Sid, but you might need to pick the nuclear option</p>
<p class="Lisa">.</p>
<p class="Lisa">.</p>
<p class="LisaWhisper">The NanoCore</p>
<p class="Sidney">.<br><br>What did you say?<br><br>Don't answer that, I heard you. It’s out of the question. <br><br>The NanoCore will be gone one day - it’s far too invasive to stick around - and even if I lose, I want to be on the right side of history.</p>
<p class="Sidney">.</p>
<p class="Sidney">Lisa, if nobody digs up any dirt on Doe in the next few days, we may have to take it into our own hands</p>


<a class="next" href="/2" data-analytics-link="bottom-pagination-next"></a>

</body>
</html>