<!DOCTYPE html>
<html>
<head>
    <link rel ="stylesheet" type="text/css" href="static/style.css">
    <title>Chapter 5</title>
</head>
<body>
<h1>Chapter 5: Keeper of Secrets - Part 3</h1>
<br>
<p class="Samir">I could tell in my escapades around the city just how much Doe’s candidacy was gaining traction. By September, a good quarter of the advertisements I saw were for him. As for Sidney, she rarely saw anything else - I suspect Doe had a contact in the NanoCore which he used to target her, with incredible success. Regardless of the cause, Sidney became more and more hostile, towards me, the rest of her staff, and the public. She clashed with all of her interviewers, and even with her own supporters. I watched a once promising political career crumble with my own eyes.</p>
<br><br><br><br><br>
<img src="../static/image1.png" width="750px" style="display: block;margin-left: auto;margin-right: auto;">
<br><br><br><br><br>
<p class="Samir">By October, her standing had fallen so much that the election had become a formality. John Doe would undoubtedly be the next Mayor of New York City. The NanoCore would expand its power - the first brain implants would hit the market just a few years later. And the shockingly quick rise of the virtual politician would have cemented a brand new era in international policy.
    <br><br>But as the November election approached, I was still working, now the only person who could possibly alter the results. I had long since switched to a fully internet-based investigation - to find John Doe, I would have to get into his head, and to do that I would have to live as terminally online as he did. As the morning of the election shifted from weeks to days to a mere 48 hours away, I ran searches on machines all over the globe, plugging in quite literally everything I had on him in search of an unencrypted data bank with a single nugget of information about him. Every word he had ever said in any rally or interview ever was being crunched in every moment.
    <br><br>It was the late afternoon of the day before the election when I struck gold. 
    </p>
<img src="../static/Slide3.JPG">

<a class="next" href="/5" data-analytics-link="bottom-pagination-next"></a>

</body>
</html>