<!DOCTYPE html>
<html>
<head>
    <link rel ="stylesheet" type="text/css" href="static/style.css">
    <title>Chapter 6</title>
</head>
<body>
<h1>Chapter 6: Keeper of Secrets - Part 4</h1>
<br>

<p class="Samir">I stared in disbelief at my computer screen, which displayed a match found from a list I had sent in a few hours prior, of all of Doe’s virtual rally locations in chronological order. My search displayed a link to a website which upon clicking I recognized to be an artificial intelligence, a sham of a software that some used for the same purpose that years ago would have been assigned to an advice column in the newspaper. It was an AI used for simple decision making - what suit to wear, or where to eat lunch on a given day. John Doe had generated a comprehensive list of hundreds of rally locations, each with a given date and time frame. In December. Four months before he had announced his campaign, six months before anyone had taken him seriously. And he had followed it exactly, without one deviation, to the end of a nearly perfect mayoral campaign.
    <br><br>Now, as revelatory as this may seem, there was something much more important to me present on the site - an IP Address located at an apartment complex in Williamsburg. I struggled to control my legs as I scrambled out of my chair for the first time in days, feeling truly, really, alive for the first time in months. Sprinting past advertisements for software companies I had never heard of, I made my way to the subway bound for Williamsburg.
    <br><br><br><br>The John Doe I encountered was much younger than his gray haired avatar, although his face bore a convincing resemblance to the man I was accustomed to, the face who I had lost months of my life to hunting down. By the time I reached him, my mind was somewhat lost from lack of sleep - I don’t remember how I ever got into his basement apartment - I must have pried open a skyward facing window with a disturbing vengeance far greater than anything that had controlled me in the past. I do remember a massive computer rig, larger than my own. As I yelled maniacally at him - in my state I was heavily agitated by his presence - he said only a few words to me that morning (it was now the early hours of Election Day), but I will never forget that smug enjoyment in his face - of finally having been caught yet knowing there was nothing I, nor Sidney, could do about it.
    <br><br>“It’s not me, sir. It’s all AI-based. Always has been.”
    <br><br><br>I found myself outside, again, and I dialed up Sidney, one final time. The polls were opening. I prayed there was still a chance.
    </p>
    <p class="Samir" style="text-align:center">***************</p>
    <p class="Text" style="text-align:center">15 Minutes Later</p>

<p class="Sidney">Doe</p>
<p class="Jon">Hargrave</p>
<p class="Sidney">I’ve debated John Doe, and talked to him privately a few times. <br>But that wasn’t you, was it?</p>
<p class="Jon">No. We have never met. Allow me to introduce myself - <i>my</i> name is Jon Bredeson. I’m a—</p>
<p class="Sidney">Are you an agent of the NanoCore?</p>
<p class="Jon">I’m an amateur programmer, living in an illegal basement apartment. Turns out, it doesn’t take much to upend the government these days. <br><br>I don’t blame you for being cautious. I feel sorry that my AI played you so hard on that.</p>
<p class="Sidney"> I’m still the mayor, you realize. I can have you fined or arrested for the apartment.</p>
<p class="Jon">The polls are opening right now, Sidney. <br><br>A phone call to the news websites can’t save you - they’ll need to fact-check everything you say before they publish anything, and by then it’ll be too late. <br><br>John Doe will be the next mayor of New York whether you out me or not.</p>
<p class="Sidney">You’re acting as if you have the leverage here. I may be losing, but I have every chance to take you down with me.
    <br>.
    <br>.
    <br><br>I did not come here to out you, Jon. I see an opportunity in this. I think we’re standing in a moment in history. We are two of three people in the world who know of the advancement of the AI politician. 
    </p>
<p class="Jon">What…  are you talking about</p>
<p class="Sidney">This world is much larger than our city, Jon.  Wouldn’t you like to have a little fun with it? <br>You have the power to take over New York, why can’t you go larger? 
    <br>.
    <br>.
    <br><br>What I’m saying is, you let me in on your operation. We’ll create more John Does, around the world. <br><br>Artificial intelligences with the ability to end this Cold War
    </p>
<p class="Jon">In Asia?
    <br>.
    <br>.
    <br><br>What’s the incentive for me?
    </p>
<p class="Sidney"> I let Doe win—</p>
<p class="Jon">He’s gonna win anyway—</p>
<p class="Sidney">— AND 
    <br>.
    <br><br>And I don’t out you or him as a fake. Or as an illegal tenant.
    </p>
<p class="Jon">.
    <br>.
    <br>Ok
    <br>.
    <br><br>We’re gonna need a whole lot more computers for that.
    </p>
<a class="next" href="/6" data-analytics-link="bottom-pagination-next"></a>

</body>
</html>