<!DOCTYPE html>
<html>
<head>
    <link rel ="stylesheet" type="text/css" href="static/style.css">
    <title>Chapter 8</title>
</head>
<body>
<h1>Chapter 8: The Cold War</h1>
<br>
<h3><i>November 25th, 2064</i></h3>
<h3><i>AP: Ashgabat - 17:47 Local Time</i></h3>
<p class="Text">Two more Turkmen protesters were confirmed to have been killed on Thursday afternoon local time, as part of the ongoing protests against the Turkmen-Vietnamese War, which will soon enter its fifth month. The total death count from this week’s extensive protests, led by holographic ringleader Süleýman, has now reached thirteen.

    <br><br>Süleýman’s strategy has followed in the footsteps of holographic politicians in the United States, who now occupy two seats in the American Senate, although many, including his own supporters, have criticized him for hiding physically when so many are suffering. He isn’t ideologically hiding, though - despite Turkmenistan’s status as defender, Süleýman is very critical of the war, reminding the masses of the mysterious disappearances of two Vietnamese ambassadors from the embassy in Ashgabat, which sparked conflict initially. These hundreds of thousands of Turkmen marching in Ashgabat serve as a nightmare scenario for the Turkman autocrat Mälik Berdimuhamedow, who local reporters believe to be in legitimate danger of being overthrown.
    
    <br><br>Meanwhile, the global population remains equally worried about the currently cold conflict between Pakistan, and India, with the former providing weapons to Turkmenistan and the latter to Vietnam.
    </p>

    <p class="Text" style="text-align:center">***************</p>
    <h3>The Second Cold War</h3>
    <img src="../static/image4.png" style="display: block;margin-left: auto;margin-right: auto;" width="950px">
<a class="next" href="/8" data-analytics-link="bottom-pagination-next"></a>

</body>
</html>